<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sudokuvarients">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".sudokuColour.ColourDoku"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".sudokux16.sudokux16"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".sudokux4.Sudokux4"
                  android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".normalsudoku9x9.NormalSudoku"
        android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>